p {
  max-width: 15rem;
  margin: 1rem;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.warning {
  background-color: tomato;
}

.home-container {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}
